---
const { lang, title } = Astro.props;

const name = "Linda Mence";
const defaultLang = "en";
---

<!doctype html>
<html lang={lang ? lang : defaultLang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <title>{title ? `${name}: ${title}` : name}</title>

    <!-- favicon placement -->
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

    <!-- cms redirect -->
    <script>
      const hash = window.location.hash;

      if (hash.includes("invite_token") || hash.includes("recovery_token")) {
        // normalize hash format so Decap accepts it
        const cleanHash = hash.replace(/^#\/?/, "#");

        window.location.replace("/admin/" + cleanHash);
      } else if (window.location.pathname === "/") {
        // your normal language redirect
        window.location.replace("/en/");
      }
    </script>
  </head>
  <body>
    <!-- slot -->
    <slot />
  </body>
</html>
