---
// import LayoutENG from "../layouts/LayoutENG.astro";
import Layout from "../layouts/Layout.astro";

// return Astro.redirect("/en/");
---

<!-- <LayoutENG> --><!-- transport to the selected language--><!-- <script>
    window.location.replace("./lv");
  </script> --><!-- </LayoutENG> -->
<Layout>
  <h1>cms</h1>
</Layout>
