---
const { lang } = Astro.props;
const comment = lang === "en" ? "accessibility view" : "pieejamības skats";
---

<footer>
  <div class="reading-view">
    <button class="reading-toggle">
      <span>{comment}</span>
      <span class="dot-figure"></span>
    </button>
  </div>
</footer>

<script is:inline>
  const readingToggle = document.querySelector(".reading-toggle");
  const body = document.querySelector("body");

  // restore state on page load
  const isReading = localStorage.getItem("readingMode") === "true";

  if (isReading) {
    body.classList.add("reading");
  }

  readingToggle?.addEventListener("click", () => {
    const nowReading = body.classList.toggle("reading");

    // persist state
    localStorage.setItem("readingMode", nowReading);
  });
</script>
