---

---

<div class = "menu">
<div class = "nav-wrap">
    <h3>Linda Mence</h3>
    <a>text</a>
    <a>illustration</a>
    <a>books</a>
    <a>other</a>
    <a>about</a>
    <div><a>eng</a>/<a href="./lv">lv</a></div>
</div>
</div>