---

---

<div class = "menu">
<div class = "nav-wrap">
    <h3>Linda Mence</h3>
    <a>teksts</a>
    <a>ilustrācija</a>
    <a>grāmatas</a>
    <a>u.c.</a>
    <a>par</a>
    <div><a href="../eng">eng</a>/<a>lv</a></div>
</div>
</div>