/* ************** ************** ************** */
/* external fonts */
/* ************** ************** ************** */

@font-face {
  font-family: "Garamondt";
  font-style: italic;
  src: url("/fonts/FD_Garamondt/Garamondt-Italic.woff") format("woff");
}

@font-face {
  font-family: "Garamondt";
  font-style: normal;
  src: url("/fonts/FD_Garamondt/Garamondt-Regular.woff") format("woff");
}

/* highlight tool */
::-moz-selection {
  /* Code for Firefox */
  background: lavender;
  color: coral;
}

::selection {
  background: lavender;
  color: coral;
}

body {
  --primary-font: "EB Garamond Variable", serif;
  --sec-font: "Garamondt", serif;
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --p-width: 200px;
  --background: lavender;
  --base: white;
  --body: #ff3855;
  --highlight: #0070b8;
  --sec-highlight: #ad6f69;
  --third-highlight: wheat;
  --fourth-highlight: #db5a6b;
  --paragraph: #1a1110;
  background-color: var(--background);
  color: var(--body);
  --sml-pad: 10px;
}

body.reading {
  color: black;
  font-size: 1.5em;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

body.reading a {
  color: green;
}

body.reading button {
  color: green;
}

body.reading h1::first-letter {
  font-family: var(--primary-font);
  font-style: normal;
  text-transform: capitalize;
  background-color: transparent;
}

body.reading .menu {
  background-color: transparent;
}

body.reading .handle {
  display: none;
}

/* canvas */
.canvas {
  background-color: var(--base);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100vh;
  width: 100vw;
}

/* general text style */

a {
  cursor: pointer;
  color: var(--highlight);
}

h1::first-letter {
  font-family: var(--primary-font);
  font-family: var(--sec-font);
  text-transform: capitalize;
  font-style: italic;
  background-color: var(--third-highlight);
}

p {
  line-height: 1.4em;
}

button {
  cursor: pointer;
  color: var(--highlight);
}

/* header */
header {
  padding: var(--sml-pad);
  max-width: 500px;
  position: relative;
}

.menu {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  overflow-x: hidden;
  position: relative;
  margin-left: auto;
  width: 100%;
  background-color: var(--fourth-highlight);
}

.bookmark {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.bookmark svg {
  fill: #763e39;
  height: 250px;
  width: auto;
}

.bookmark.active {
  display: flex;
}

.nav-list.none {
  display: none;
}

/* body:has(.handle:hover) .bookmark {
  display: flex;
}

body:has(.handle:hover) .nav-list {
  display: none;
} */

.handle {
  display: flex;
  background-color: var(--highlight);
  width: 10px;
  align-self: stretch;
  align-content: center;
  align-items: center;
}

.dot {
  cursor: pointer;
  height: 100%;
}

.dot-figure {
  box-shadow: inset 0.1em 0.1em 0.1em var(--sec-highlight);
  height: 10px;
  width: 10px;
  background-color: var(--background);
  border-radius: 50%;
  display: inline-block;
}

.nav-list {
  padding: var(--sml-pad);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* box-sizing: border-box; */
}

.nav-list li {
  width: fit-content;
  text-align: center;
  margin-bottom: 1em;
  justify-self: start;
}

.nav-list li a {
  pointer-events: auto;
  background-color: var(--base);
}

.nav-list li h1 {
  pointer-events: auto;
  background-color: var(--base);
}

.nav-list li:nth-child(1n) {
  grid-column-start: 4;
  text-align: center;
  justify-self: center;
}
.nav-list li:nth-child(2n) {
  grid-column-start: 3;
  text-align: right;
  justify-self: end;
}
.nav-list li:nth-child(3n) {
  grid-column-start: 5;
  text-align: left;
  justify-self: start;
}
.nav-list li:nth-child(4n) {
  grid-column-start: 2;
  text-align: right;
  justify-self: end;
}
.nav-list li:nth-child(5n) {
  grid-column-start: 6;
  text-align: left;
  justify-self: start;
}
.nav-list li:nth-child(6n) {
  grid-column-start: 1;
  text-align: right;
  justify-self: end;
}

.nav-list li:nth-child(7n) {
  grid-column-start: 7;
  text-align: left;
  justify-self: start;
}

.nav-list li:last-child {
  margin-bottom: 0;
}

.lang-sw a {
  color: var(--sec-highlight);
  border: 1px solid var(--highlight);
  border-radius: 50%;
  padding: 0.25em;
}

/* main */
main {
  display: grid;
  padding: var(--sml-pad);
  max-width: 1200px;
}

.path {
  padding: var(--sml-pad);
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--sml-pad);
  border-bottom: solid 3px var(--background);
}

.md-body {
  padding: var(--sml-pad);
  text-align: left;
  min-height: 600px;
  border: solid 3px var(--background);
  margin-bottom: var(--sml-pad);
}

.md-body p {
  padding-top: var(--sml-pad);
  padding-bottom: var(--sml-pad);
}

.md-body p img {
  /* max-width: 3em;
  max-height: 3em; */
  display: inline-block;
}

/* ///////////////// */
/* gallery */
.gallery {
  position: relative;
  width: 100%;
}

.gallery-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: var(--sml-pad);
}

.gallery-wrap img {
  width: 100%;
  height: auto;
  filter: blur(0);
  transition: filter 3s ease;
}

body:has(.md-body:hover) .gallery-wrap img {
  filter: blur(10px);
}

/* grid set-up */
.astro-masonry-grid {
  width: 100%;
  gap: var(--sml-pad);
}

.astro-masonry-grid_column {
  width: 25%;
  /* Your custom column styles */
}

footer {
  position: fixed;
  bottom: var(--sml-pad);
  right: var(--sml-pad);
}

.reading-toggle {
  display: flex;
  flex-direction: row;
  gap: var(--sml-pad);
  align-items: baseline;
}

@media screen and (max-width: 500px),
  screen and (max-height: 500px) and (orientation: landscape) {
  body:has(.md-body:hover) .gallery-wrap img {
    filter: blur(0);
  }
  .menu {
    background-color: var(--background);
  }
}
