/* ************** ************** ************** */
/* external fonts */
/* ************** ************** ************** */

@font-face {
  font-family: "Garamondt";
  font-style: italic;
  src: url("/fonts/FD_Garamondt/Garamondt-Italic.woff") format("woff");
}

@font-face {
  font-family: "Garamondt";
  font-style: normal;
  src: url("/fonts/FD_Garamondt/Garamondt-Regular.woff") format("woff");
}

body {
  --primary-font: "EB Garamond Variable", serif;
  --sec-font: "Garamondt", serif;
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --p-width: 200px;

  --background: lavender;
  --base: white;
  /* --body: #ff3855; */
  /* --body: #0070b8; */
  /* --body: #0c5078; */
  --body: #15156a;

  /* --highlight: #688f86ff; */
  /* --highlight: #15156a; */
  --highlight: #15156a;
  /* --sec-highlight: #ad6f69; */
  --sec-highlight: #80724cff;
  /* --third-highlight: wheat; */
  /* --third-highlight: #f5cecb;  */
  --third-highlight: #e8ece8; /* --fourth-highlight: #db5a6b; */
  --fourth-highlight: #243329ff;
  --paragraph: #1a1110;

  background-color: var(--background);
  color: var(--body);
  --sml-pad: 10px;

  /* --desktop-max-width: 1440px;
  max-width: var(--desktop-max-width);
  margin-left: auto;
  margin-right: auto; */
  /* padding: 1em; */
}

/* highlight tool */
::-moz-selection {
  /* Code for Firefox */
  background: lavender;
  color: var(--paragraph);
}

::selection {
  background: lavender;
  color: var(--paragraph);
}

.r-view {
  display: none;
}

body.reading .a-view {
  display: none;
}

body.reading .r-view {
  display: inline-block;
}

body.reading .gallery-controls button,
body.reading .modal-close-button {
  color: var(--third-highlight);
}

body.reading .menu {
  border: none;
  /* display: inline-block; */
}
/* 
:where([data-astro-image]) {
  object-fit: var(--fit);
  object-position: var(--pos);
}
:where([data-astro-image="full-width"]) {
  width: 100%;
}
:where([data-astro-image="constrained"]) {
  max-width: 100%;
} */

body.reading {
  color: black;
  font-size: 1.5em;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

body.reading a {
  color: green;
}

body.reading button {
  color: green;
}

body.reading h1::first-letter {
  font-family: var(--primary-font);
  font-style: normal;
  text-transform: capitalize;
  background-color: transparent;
}

body.reading .menu {
  background-color: transparent;
}

body.reading .handle {
  display: none;
}

/* canvas */
.canvas {
  background-color: var(--base);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100vh;
  width: 100vw;
}

/* general text style */

a {
  cursor: pointer;
  color: var(--highlight);
}

h1::first-letter {
  font-family: var(--primary-font);
  font-family: var(--sec-font);
  text-transform: capitalize;
  font-style: italic;
  background-color: var(--third-highlight);
}

p {
  line-height: 1.4em;
}

button {
  cursor: pointer;
  color: var(--highlight);
}

/* header */
header {
  padding: var(--sml-pad);
  max-width: 500px;
  position: relative;
}

main a {
  text-decoration: underline;
}

main a:hover {
  text-decoration: none;
}
/* header {
  position: fixed;
  top: var(--sml-pad);
  left: var(--sml-pad);

  padding: var(--sml-pad);
  max-width: 500px;
} */

.menu {
  min-height: 300px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  overflow-x: hidden;
  position: relative;
  margin-left: auto;
  width: 100%;
  /* background-color: none; */
  /* background-color: var(--background); */
  /* border: 1px solid var(--highlight); */
  /* border: 3px solid var(--sec-highlight); */
}

.bookmark {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.bookmark svg {
  fill: var(--sec-highlight);
  /* fill: #763e39; */
  height: 250px;
  width: auto;
}

.bookmark.active {
  display: flex;
}

.nav-list.none {
  display: none;
}

/* body:has(.handle:hover) .bookmark {
  display: flex;
}

body:has(.handle:hover) .nav-list {
  display: none;
} */

.handle {
  display: flex;
  background-color: var(--sec-highlight);
  width: 10px;
  align-self: stretch;
  align-content: center;
  align-items: center;
}

.dot {
  /* cursor: pointer; */
  height: 100%;
}

.group-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery-thumb {
  border: none;
  background: transparent;
  padding: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-bottom: var(--sml-pad);
}

.gallery-thumb img,
.gallery-thumb picture {
  display: block;
  width: 100%;
  height: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  width: 100dvw;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  max-width: calc(var(--desktop-max-width) + var(--desktop-max-width) / 4);
}

.modal-image-wrap {
  width: 100%;
  max-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image-wrap img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  padding: var(--sml-pad);
}

.gallery-controls {
  font-family: var(--sec-font);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.gallery-controls button,
.modal-close-button {
  background: transparent;
  color: var(--body);
  padding: var(--sml-pad);
  cursor: pointer;
  font-size: 1em;
}

.modal-close-button {
  font-family: var(--sec-font);
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  color: var(--body);
  font-size: 1em;
}

.gallery-counter {
  color: var(--body);
}

.dot-figure {
  box-shadow: inset 0.1em 0.1em 0.1em var(--sec-highlight);
  height: 10px;
  width: 10px;
  background-color: var(--background);
  border-radius: 50%;
  display: inline-block;
}

.nav-list {
  padding: var(--sml-pad);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* box-sizing: border-box; */
}

.nav-list li {
  width: fit-content;
  text-align: center;
  margin-bottom: 1em;
  justify-self: start;
}

.nav-list li a {
  pointer-events: auto;
  background-color: var(--base);
}

.nav-list li h1 {
  pointer-events: auto;
  background-color: var(--base);
}

.nav-list li:nth-child(1n) {
  grid-column-start: 4;
  text-align: center;
  justify-self: center;
}
.nav-list li:nth-child(2n) {
  grid-column-start: 3;
  text-align: right;
  justify-self: end;
}
.nav-list li:nth-child(3n) {
  grid-column-start: 5;
  text-align: left;
  justify-self: start;
}
.nav-list li:nth-child(4n) {
  grid-column-start: 2;
  text-align: right;
  justify-self: end;
}
.nav-list li:nth-child(5n) {
  grid-column-start: 6;
  text-align: left;
  justify-self: start;
}
.nav-list li:nth-child(6n) {
  grid-column-start: 1;
  text-align: right;
  justify-self: end;
}

.nav-list li:nth-child(7n) {
  grid-column-start: 7;
  text-align: left;
  justify-self: start;
}

.nav-list li:last-child {
  margin-bottom: 0;
}

.lang-sw a {
  color: var(--sec-highlight);
  border: 1px solid var(--highlight);
  border-radius: 50%;
  padding: 0.25em;
}

/* main */
main {
  display: grid;
  padding: var(--sml-pad);
  /* max-width: 1200px; */
}

.path {
  padding: var(--sml-pad);
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--sml-pad);
  border-bottom: solid 3px var(--background);
}

.md-body {
  padding: var(--sml-pad);
  text-align: left;
  min-height: 600px;
  border: solid 3px var(--background);
  margin-bottom: var(--sml-pad);
}

.md-body p {
  padding-top: var(--sml-pad);
  padding-bottom: var(--sml-pad);
}

.md-body p img {
  /* max-width: 3em;
  max-height: 3em; */
  display: inline-block;
}

/* ///////////////// */
/* gallery */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery {
  position: relative;
  width: 100%;
}

.gallery-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: var(--sml-pad);
}

.gallery-wrap img {
  width: 100%;
  height: auto;
  filter: blur(0);
  transition: filter 3s ease;
}

body:has(.md-body:hover) .gallery-wrap img {
  filter: blur(10px);
}

/* grid set-up */
.astro-masonry-grid {
  width: 100%;
  gap: var(--sml-pad);
}

.astro-masonry-grid_column {
  width: 33.33%;
  /* Your custom column styles */
}

footer {
  position: fixed;
  bottom: var(--sml-pad);
  right: var(--sml-pad);
}

.reading-toggle {
  display: flex;
  flex-direction: row;
  gap: var(--sml-pad);
  align-items: baseline;
}

@media screen and (max-width: 500px),
  screen and (max-height: 500px) and (orientation: landscape) {
  body:has(.md-body:hover) .gallery-wrap img {
    filter: blur(0);
  }

  body {
    padding: var(--sml-pad);
  }

  /* .menu {
    background-color: var(--background);
  } */

  body .handle {
    display: none;
  }

  /* .grid {
    grid-template-columns: repeat(1, 1fr);
  } */

  /* gallery */
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    height: 100%;
    width: 100%;
  }

  .img-container {
    touch-action: none;
    pointer-events: none;
  }

  .modal-content img {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
  }

  .gallery-controls {
    bottom: var(--sml-pad);
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: flex;
  }

  .gallery-controls button,
  .modal-close-button,
  .gallery-counter {
    color: var(--third-highlight);
  }

  body.reading {
    color: black;
    font-size: 1.25em;
    line-height: 1.8;
    letter-spacing: 0.1em;
  }
}
